.signup-form {
  height: 100%;
}

.signup-form__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form__login-toggle {
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
  padding-left: 0.5rem;
}

.signup-form__signup-submit-button {
  padding: 12px 48px 12px 48px;
  background-color: var(--secondary);
  color: var(--primary-contrast);
}
