.splashpage-layout {
  height: 100%;
  background-size: cover;
}

.splashpage-layout__navbar-container {
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* These conditional classes are designed to account for scrollbar widths from across multiple browsers - 
the scrollBarWidth function calculates the scrollbar width and passes it into this class name */
.splashpage-layout__scrollbar_padding_12 {
  padding-right: 12px;
}
.splashpage-layout__scrollbar_padding_15 {
  padding-right: 15px;
}
.splashpage-layout__scrollbar_padding_17 {
  padding-right: 17px;
}

.splashpage-layout__content {
  display: flex;
  position: relative;
}

.splashpage-layout__background-image {
  width: 100%;
  height: auto;
}

.splashpage-layout__noscroll {
  overflow: hidden;
  position: fixed;
}
