.panel {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 5.5rem;
    /* top: -100vh; */
    left: 0;
    overflow-y: auto;
    /* opacity: 0; */
    z-index: 100;
    /* -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    -webkit-transition-property: top,opacity,background-color;
    transition-property: top,opacity,background-color;
    will-change: top,opacity,background-color; */
    background-color: #FCE353;
    overflow: scroll;
}

.panel-cancel-button {
  display: flex;
  justify-content: flex-end;
}

.panel__heading {
  font-size: var(--font-size-large-3);
}

.panel-header {
  display: flex;
  justify-content: space-between;
  /* padding-left: 4.2rem; */
  padding-bottom: 2rem;
}

/* .panel-header__splashpageForm {
  padding: none;
  display: flex;
  justify-content: left;
  padding-left: 10%;
  padding-bottom: 1rem;
  justify-content: space-between;
} */

.yellowPanel {
  background-color: #FCE353;
  color: #237E74;
} 
.bluePanel {
  background-color: #5cdacd;
  color: #e02780;
}
.pinkPanel {
  /* background-color: #FCE353; */
  background-color: var(--secondary-tint);  
  color: var(--secondary-text);
}
.tealPanel {
  background-color: var(--primary-tint);
  color: #4B1E75;
}

.panel__background-image {
  background-image: url('flame_background1.svg');
  height: 100%;
  width: 100%;
  background-repeat:  no-repeat;
  background-size: contain;
  background-position: center;
}