.panel {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 5.5rem;
  left: 0;
  overflow-y: auto;
  z-index: 100;
  overflow: scroll;
  background-color: var(--primary-tint);
  color: #e02780;
}

.panel-cancel-button {
  display: flex;
  justify-content: flex-end;
}

.panel__heading {
  font-size: var(--font-size-large-3);
}

.panel__background-image {
  background-image: url("flame_background2.svg");
}
