.splashpage-contact-form__container {
  padding: 3rem;
  background-color: var(--contrast-5);
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.splashpage-contact-form__confirmation-message > p {
  font-size: var(--font-size-large-1);
  margin-top: 0;
}

.splashpage-contact-form__submitted-message {
  font-style: italic;
}

.splashpage-contact-form__header__container {
  display: flex;
  justify-content: left;
  padding-left: 2rem;
}

.splashpage-contact-form {
  height: 100%;
}

.splashpage-contact-form .text-box__label {
  color: #2c92a8;
  font-size: var(--font-size-large-1);
}

.splashpage-contact-form .text-box__input {
  color: var(--contrast-100);
  background: transparent;
}

.splashpage-contact-form ::placeholder {
  color: var(--contrast-100);
}

.splashpage-contact-form .text-box__container {
  background: transparent;
  background: var(--contrast-20);
}

.splashpage-contact-form__actions {
  float: right;
}
.splashpage-contact-form__actions > button {
  margin-left: 20px;
  gap: .4rem;
}
