@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
:root {
  --primary: #009285;
  --primary-10: rgba(0, 146, 133, 0.1);
  --primary-20: rgba(0, 146, 133, 0.2);
  --primary-text: #3ea499;
  --primary-shade: #5cdacd;
  --primary-text-10: rgba(62, 164, 153, 0.1);
  --primary-contrast: rgba(255, 255, 255, 1);
  --secondary: #e02780;
  --secondary-text: #ec5fa3;
  --tertiary-light: #ffd759;
  --tertiary-dark: #b78b00;
  --error: #ff4238;
  --error-text: #f52419;
  --success: #15c15d;
  --success-text: hsl(145, 100%, 32%);
  --base: #ffffff;
  --base-contrast-5: linear-gradient(
      0deg,
      rgba(25, 59, 103, 0.05),
      rgba(25, 59, 103, 0.05)
    ),
    #ffffff;
  --contrast-100: #192434;
  --contrast-90: rgba(24, 39, 58, 0.94);
  --contrast-80: rgba(26, 41, 61, 0.83);
  --contrast-70: rgba(27, 43, 65, 0.72);
  --contrast-60: rgba(28, 46, 69, 0.6);
  --contrast-50: rgba(28, 48, 74, 0.5);
  --contrast-40: rgba(28, 50, 79, 0.38);
  --contrast-30: rgba(28, 52, 84, 0.26);
  --contrast-20: rgba(28, 55, 90, 0.16);
  --contrast-10: rgba(26, 56, 96, 0.1);
  --contrast-5: rgba(25, 59, 103, 0.05);
  --heading-text: #192434;
  --body-text: rgba(24, 39, 58, 0.94);
  --disabled-text: rgba(28, 52, 84, 0.26);
  --focused: 2px solid var(--contrast-70);
}

body {
  color: rgba(24, 39, 58, 0.94);
  color: var(--body-text);
  background-color: #ffffff;
  background-color: var(--base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #192434;
  color: var(--heading-text);
}

a {
  color: #3ea499;
  color: var(--primary-text);
}
a:visited {
  color: var(--primary-contrast-alt);
}

button:focus {
  outline: 2px solid rgba(27, 43, 65, 0.72);
  outline: var(--focused);
  outline-offset: 2px;
}

:root {
  --font-size-icon: 1.2rem;
  --font-size-icon-bigger: 1.8rem;
  --font-size-arrow: 1.4rem;
  --font-size-small: 0.9rem;
  --font-size-base: 1rem;
  --font-size-large-1: 1.25rem;
  --font-size-large-2: 1.563rem;
  --font-size-large-3: 1.953rem;
  --font-size-large-4: 2.441rem;
  --font-size-large-5: 3.052rem;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
}

html {
  font-size: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-weight: var(--font-weight-normal);
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  margin-bottom: 1.38rem;
  font-weight: 400;
  font-weight: var(--font-weight-normal);
  line-height: 1.3;
}

h1,
h2,
h5,
h6,
b,
button,
.heading-1,
.heading-2,
.heading-5,
.heading-6,
.bold {
  font-weight: 500;
  font-weight: var(--font-weight-bold);
}

h1,
.heading-1 {
  margin-top: 0;
  font-size: 3.052rem;
  font-size: var(--font-size-large-5);
}

h2,
.heading-2 {
  font-size: 2.441rem;
  font-size: var(--font-size-large-4);
}

h3,
.heading-3 {
  font-size: 1.953rem;
  font-size: var(--font-size-large-3);
}

h4,
.heading-4 {
  font-size: 1.563rem;
  font-size: var(--font-size-large-2);
}

h5,
.heading-5 {
  font-size: 1.25rem;
  font-size: var(--font-size-large-1);
}

h6,
small,
.heading-6 {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-size: var(--font-size-small);
}

p {
  margin-bottom: 1rem;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

dl dt {
  font-size: 0.9rem;
  font-size: var(--font-size-small);
  font-weight: 500;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

dl dd {
  margin: 0 0 1rem 0;
}

.MuiSvgIcon-root {
  font-size: 1.2rem;
  font-size: var(--font-size-icon);
}

.MuiSvgIcon-root .table__header__icon {
  font-size: 1.2rem;
  font-size: var(--font-size-icon);
}

body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
}

.user-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  color: white;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 8px 14px;
  border-radius: 4px;
  border: unset;
  cursor: pointer;
  line-height: 18px;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.button > svg {
  vertical-align: middle;
  font-size: var(--font-size-icon);
}
.button > svg:not(:only-child):first-child {
  margin-right: 6px;
}
.button > svg:not(:only-child):last-child {
  margin-left: 6px;
}

.button--contained,
.button--contained:visited {
  color: var(--primary-contrast);
}
.button--contained:hover:not(:active) {
  opacity: 0.85;
}

.button--contained.button--primary {
  background-color: var(--primary);
}

.button--contained.button--success {
  background-color: var(--success);
}

.button--contained.button--error {
  background-color: var(--error);
}

.button--contained.button--contrast {
  background-color: var(--contrast-100);
}

.button--outlined {
  background-color: var(--contrast-5);
}

.button--text {
  background-color: inherit;
  padding-left: 0;
  padding-right: 0;
}

.button--outlined.button--primary,
.button--outlined.button--primary:visited,
.button--text.button--primary,
.button--text.button--primary:visited {
  color: var(--primary-text);
}

.button--outlined.button--success,
.button--outlined.button--success:visited,
.button--text.button--success,
.button--text.button--success:visited {
  color: var(--success-text);
}

.button--outlined.button--error,
.button--outlined.button--error:visited,
.button--text.button--error,
.button--text.button--error:visited {
  color: var(--error-text);
}

.button--outlined.button--contrast,
.button--outlined.button--contrast:visited,
.button--text.button--contrast,
.button--text.button--contrast:visited {
  color: var(--contrast-100);
}

.button.button--disabled {
  opacity: 0.5;
}

.button--none {
  display: inline-block;
  padding: 0;
  background: none;
  color: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
}

.button.button--usericon {
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--primary-contrast);
  height: 36px;
  width: 36px;
  justify-content: center;
  cursor: pointer;
  display: inline-flex;
  margin-left: 28px;
  padding: 0px 0px 0px 0px;
}
.button--usericon:hover:not(:active) {
  opacity: 0.85;
  background-color: var(--secondary);
}

.button--usericon.button--colorwheel {
  background-color: var(--primary);
}

.button--modal-cancel-button {
  color: var(--secondary);
  background-color: inherit;
  padding-left: 0;
  padding-right: 0;
  border-radius: 4px;
}

.button--modal-cancel-button > svg {
  font-size: var(--font-size-icon-bigger);
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 24px;
}

.dropdown__label {
  margin-bottom: 7px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  color: var(--contrast-70);
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.dropdown__alt-label {
  color: var(--primary);
  font-weight: var(--font-weight-normal);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.dropdown__input {
  display: flex;
  margin-bottom: 4px;
  padding: 7px 10px;
  border: 0;
  border-radius: 4px;
  background-color: var(--contrast-10);
  cursor: pointer;
  width: 100%;
}

.dropdown__input > span {
  flex: 1 1;
  text-align: left;
}

.dropdown__placeholder {
  color: var(--contrast-60);
}

.dropdown__menu {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 5px;
  border: 0;
  border-radius: 4px;
  background-color: var(--base);
  box-shadow: 0px 8px 24px -4px rgba(28, 50, 79, 0.38),
    0px 2px 6px -1px rgba(28, 55, 90, 0.16);
}

.dropdown__menu-item {
  display: block;
}

.dropdown__menu-item:hover,
.dropdown__menu-item:focus,
.dropdown__menu-item--selected {
  background-color: var(--primary-10);
}

.dropdown__menu-item > button {
  width: -webkit-max-content;
  width: max-content;
  padding: 4px 26px;
  text-align: left;
  outline: none;
}

.dropdown__menu-item > button:focus {
  outline: none;
}

.dropdown-mini {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dropdown-mini__label {
  margin-bottom: 7px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  color: var(--contrast-70);
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.dropdown-mini__alt-label {
  color: var(--primary);
  font-weight: var(--font-weight-normal);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.dropdown-mini__listbox {
  cursor: pointer;
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0.2rem 0.6rem;
  background-color: var(--primary-10);
}

.navbar__logo {
  max-height: 50%;
  width: auto;
}

.navbar__links {
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__all-organizations:-webkit-any-link {
  text-decoration: none;
  color: var(--secondary-text);
}

.navbar__all-organizations:any-link {
  text-decoration: none;
  color: var(--secondary-text);
}

.navbar__all-organizations:hover {
  text-decoration: underline;
}

.navbar__divider {
  margin: 0 0.8rem;
}

.navbar__user-icon {
  position: relative;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}

.navbar__dropdown-menu {
  right: calc(1rem - 1vw);
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  top: 2rem;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.spinner {
  width: 100%;
}

.spinner__svg {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  content: "Loading";
  z-index: 1;
}

.spinner__svg > circle {
  stroke: var(--primary);
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}

.spinner--sm > .spinner__svg {
  width: 2rem;
  height: 2rem;
}

.spinner--md > .spinner__svg {
  width: 4rem;
  height: 4rem;
}

.spinner--lg > .spinner__svg {
  width: 6rem;
  height: 6rem;
}

.spinner--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion) {
  .spinner {
    display: none;
  }
}

.sidebar {
  padding: 0.4rem 0;
  border-right: 1px solid var(--contrast-10);
}

.sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__navitem {
  position: relative;
  display: block;
  padding: 0.4rem 1.4rem;
  text-decoration: none;
  color: var(--contrast-60);
  transition: 0.2s ease-in-out;
  white-space: nowrap;
}

.sidebar__navitem--selected:-webkit-any-link {
  color: var(--primary-text);
}

.sidebar__navitem--selected:any-link {
  color: var(--primary-text);
}

.sidebar__navitem--selected::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  height: 80%;
  width: 3.6px;
  background-color: var(--primary-text);
}

.sidebar__navitem > svg {
  vertical-align: middle;
  -webkit-margin-end: 0.4rem;
          margin-inline-end: 0.4rem;
  font-size: var(--font-size-icon);
}

.sidebar__navitem:hover {
  background-color: var(--primary-10);
}

.organization-layout {
  min-height: 100vh;
}

.organization-layout__content {
  min-height: calc(100vh - 3.2rem);
  display: flex;
}

.accordion > .accordion-item {
  border-bottom: 1px solid var(--contrast-10);
}

.accordion > .accordion-item:last-child {
  border-bottom: 0;
}

.accordion-item__header {
  margin: 0;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--contrast-70);
}

.accordion-item__header-button {
  width: 100%;
  text-align: left;
  text-align: initial;
  display: flex;
  padding: 8px 0;
}

svg.accordion-item__icon {
  font-size: var(--font-size-large-1);
}

.accordion-table {
  list-style: none;
  margin: 0;
  padding: 20px 12px;
  border: 1px solid rgba(26, 56, 96, 0.1);
}

.accordion-table > li:first-child {
  margin-bottom: 12px;
}

.accordion-table__row-header {
  display: grid;
  grid-template-columns: var(--font-size-icon) repeat(
      auto-fit,
      minmax(1rem, 1fr)
    );
  grid-gap: 20px;
  gap: 20px;
}

.accordion-table__cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-table__cell--number {
  text-align: right;
}

.accordion-table__row-header--first .accordion-table__cell {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--contrast-70);
}

.accordion-table__row-panel {
  padding: 4px 0;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox,
.checkbox__check {
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  width: 1rem;
  height: 1rem;
}

svg.checkbox__check {
  margin-right: 8px;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  color: transparent;
}
.checkbox__check * {
  transition: all 0.1s linear;
}

.checkbox__input:focus:not(:focus-visible) + .checkbox__check {
  outline: none;
}

.checkbox__input:checked ~ .checkbox__check {
  color: var(--primary-contrast);
}

.checkbox__background {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--contrast-20);
  border-radius: 4px;
}

.checkbox__input:checked ~ .checkbox__background {
  background-color: var(--primary);
}

@media (forced-colors: active) {
  .checkbox__background {
    outline: 2px solid transparent;
  }
}

.container {
  padding: 1rem;
}

.container--centered {
  margin: 0 auto;
  width: 80%;
  padding: 0;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .container--centered {
    margin: 0;
    width: 100%;
  }
}

.hero {
  border-right: 1px solid var(--contrast-10);
  background-color: var(--primary-10);
  justify-content: center;
  padding: 16px;
}

.hero__breadcrumb {
  margin-bottom: 1rem;
}

.hero__contents {
  width: 80%;
  margin: 0 auto;
}

.hero__header {
  display: flex;
  overflow-wrap: break-word;
  align-items: center;
  grid-gap: 2rem;
  gap: 2rem;
  justify-content: space-between;
}

.hero__buttons {
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
}
.hero__buttons button {
  flex: 1 1;
}

.hero__details {
  display: flex;
  justify-content: space-between;
}

.hero__details-right {
  align-self: center;
}

.hero__deadline {
  background-color: var(--tertiary-light);
  padding: 5px;
  box-shadow: 10px 10px var(--tertiary-dark);
  text-align: center;
  margin-bottom: 30px;
}

.hero__deadline dd {
  margin-bottom: 0;
  font-size: 1.1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal {
  display: block;
  position: fixed;
  width: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 0 rgb(100 100 100 / 50%);
  padding: 24px;
  border-radius: 4px;
  border-color: var(--primary-contrast);
  background-color: var(--primary-contrast);
  z-index: 2;
}

.modal__heading {
  font-size: var(--font-size-large-3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  /* padding-left: 4.2rem; */
  padding-bottom: 2rem;
}

.modal-header__splashpageForm {
  /* padding: none; */
  display: flex;
  justify-content: left;
  padding-left: 10%;
  padding-bottom: 1rem;
  /* justify-content: space-between; */
}

.modal-cancel-button {
  display: flex;
  justify-content: right;
  color: var(--secondary);
  flex-direction: row;
}

.ql-container {
  font-family: inherit;
}

.ql-editor {
  padding: 20px 12px;
  min-height: 8rem;
}

.ql-editor a {
  color: var(--primary) !important;
}
/* .ql-editor a:visited {
  color: var(--primary-contrast-alt) !important;
} */

.table {
  border-spacing: 0px 10px;
}

.table__header {
  text-align: left;
  color: var(--contrast-70);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

.table__header,
.table__row {
  border-bottom: 1px solid var(--contrast-20);
}

.table__header,
.table__cell {
  padding: 0.7rem 1rem;
}

/* This is styling for clicking on a row, commenting out until we add that
functionality */
/* .table__row:hover,
.table__header:hover {
  color: var(--primary);
  cursor: pointer;
} */

.table__header-container {
  display: inline-flex;
  align-items: center;
}

.table__header-container > svg {
  font-size: var(--font-size-arrow);
}

.text-box {
  display: block;
  margin-bottom: 24px;
}

.text-box--align-left .text-box__input {
  text-align: left;
}
.text-box--align-right .text-box__input {
  text-align: right;
}

.text-box__label {
  display: block;
  margin-bottom: 7px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  color: var(--contrast-70);
  line-height: normal;
}

.text-box__container {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 4px;
  padding: 7px 10px;
  background-color: var(--contrast-10);
}

.text-box__container:focus-within {
  outline: var(--focused);
}

.text-box__prefix,
.text-box__prefix > svg,
.text-box__suffix,
.text-box__suffix > svg {
  display: block;
}
.text-box__prefix > svg,
.text-box__suffix > svg {
  font-size: var(--font-size-icon);
}

.text-box__prefix,
.text-box__suffix {
  line-height: normal;
  color: var(--contrast-70);
}

.text-box__prefix {
  margin-right: 6px;
}

.text-box__suffix {
  margin-left: 6px;
}

.text-box__input {
  width: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

.text-box__search_icon {
  font-size: 25px;
}


/*# sourceMappingURL=main.02519828.chunk.css.map*/