.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox,
.checkbox__check {
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  width: 1rem;
  height: 1rem;
}

svg.checkbox__check {
  margin-right: 8px;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  color: transparent;
}
.checkbox__check * {
  transition: all 0.1s linear;
}

.checkbox__input:focus:not(:focus-visible) + .checkbox__check {
  outline: none;
}

.checkbox__input:checked ~ .checkbox__check {
  color: var(--primary-contrast);
}

.checkbox__background {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--contrast-20);
  border-radius: 4px;
}

.checkbox__input:checked ~ .checkbox__background {
  background-color: var(--primary);
}

@media (forced-colors: active) {
  .checkbox__background {
    outline: 2px solid transparent;
  }
}
