.hero {
  border-right: 1px solid var(--contrast-10);
  background-color: var(--primary-10);
  justify-content: center;
  padding: 16px;
}

.hero__breadcrumb {
  margin-bottom: 1rem;
}

.hero__contents {
  width: 80%;
  margin: 0 auto;
}

.hero__header {
  display: flex;
  overflow-wrap: break-word;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.hero__buttons {
  display: flex;
  gap: 2rem;
}
.hero__buttons button {
  flex: 1;
}

.hero__details {
  display: flex;
  justify-content: space-between;
}

.hero__details-right {
  align-self: center;
}

.hero__deadline {
  background-color: var(--tertiary-light);
  padding: 5px;
  box-shadow: 10px 10px var(--tertiary-dark);
  text-align: center;
  margin-bottom: 30px;
}