.organization-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--base);
  border: 1px solid var(--contrast-20);
  border-radius: 3px;
  padding: 1.4rem;
  transition: background-color 100ms ease-in-out;
}

.organization-card:hover {
  background-color: var(--base-hover);
}

.organization-card > h2 {
  margin-top: 0;
}
