.accept-invitation-form {
  height: 100%;
}

.accept-invitation-form__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accept-invitation-form__submit-button {
  padding: 12px 48px 12px 48px;
  margin-top: 24px;
  margin-bottom: 12px;
}
