.reviewer-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    color: white;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
  }
  