.contact-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-page__content {
  flex: 1;
  padding: 4rem;
}

.contact-page__header {
  margin-bottom: 2rem;
  color: inherit;
}

.contact-page__text {
  margin-bottom: 2rem;
}
