.section__header {
  display: flex;
  align-items: flex-end;
}

h2.section__title {
  flex: 1;
  margin-bottom: 0;
}

svg.section__edit-icon {
  font-size: 1.4rem;
  margin-inline-start: 1rem;
  color: var(--primary);
}
