.SectionForm {
  padding: 35px 20px;
  margin-bottom: 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
}

.SectionForm__PasteBoilerplateContent {
  position: absolute;
  left: 12px;
  bottom: 2rem;
}

.SectionForm__ContentEditor {
  position: relative;
  margin-bottom: 2rem;
}

.SectionForm__ContentEditorInput .ql-editor {
  min-height: 180px;
  padding-bottom: 4.5rem;
}

.SectionForm__ContentEditorHeader {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
}

.SectionForm__Actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  padding-bottom: 1rem;
}

.SectionForm__FormControls {
  float: right;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.SectionForm__actions > button {
  margin-left: 20px;
}
