.forgot-password-form {
  height: 100%;
}

.forgot-password-form__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-form__submit-button {
  padding: 12px 48px 12px 48px;
}
