.navlink {
    padding: 8px 14px;
    cursor: pointer;
  }

  .navlink:active {
    text-decoration-line: underline;
  }

  .navlink:hover:not(:active) {
    opacity: 0.85;
  }

  .navlink.navlink--disabled {
    opacity: 0.5;
  }
  
  .navlink > svg {
    font-size: 1.2rem;
  }
  .navlink > svg:not(:only-child):first-child {
    margin-right: 6px;
  }
  .navlink > svg:not(:only-child):last-child {
    margin-left: 6px;
  }
  
  .navlink--text {
    color: black;
  }

  .navlink-icon {
    color: red;

  }

  .navlink-container {
    display: flex;
    align-items: flex-center;
    padding: 5px 5px;
    background-color: yellow;
    width: 100%;
  }

  