.reset-password-form {
  height: 100%;
}

.reset-password-form__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-password-form__signup-toggle {
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
  padding-left: 0.5rem;
}

.reset-password-form__reset-password {
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.reset-password-form__reset-password-submit-button {
  padding: 12px 48px 12px 48px;
  background-color: var(--secondary);
  color: var(--primary-contrast);
  margin-top: 24px;
  margin-bottom: 12px;
}

