.deadline-clock__urgent {
  font-size: 25px;
  color: var(--contrast-60);
  padding-right: 13px;
}

.deadline-clock__emergency {
  font-size: 25px;
  color: var(--secondary-text);
  padding-right: 13px;
}
