.button {
  display: inline-flex;
  align-items: center;
  padding: 8px 14px;
  border-radius: 4px;
  border: unset;
  cursor: pointer;
  line-height: 18px;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.button > svg {
  vertical-align: middle;
  font-size: var(--font-size-icon);
}
.button > svg:not(:only-child):first-child {
  margin-right: 6px;
}
.button > svg:not(:only-child):last-child {
  margin-left: 6px;
}

.button--contained,
.button--contained:visited {
  color: var(--primary-contrast);
}
.button--contained:hover:not(:active) {
  opacity: 0.85;
}

.button--contained.button--primary {
  background-color: var(--primary);
}

.button--contained.button--secondary {
  background-color: var(--secondary);
}

.button--contained.button--success {
  background-color: var(--success);
}

.button--contained.button--error {
  background-color: var(--error);
}

.button--contained.button--contrast {
  background-color: var(--contrast-100);
}

.button--outlined {
  background-color: var(--contrast-5);
}

.button--text {
  background-color: inherit;
  padding-left: 0;
  padding-right: 0;
}

.button--outlined.button--primary,
.button--outlined.button--primary:visited,
.button--text.button--primary,
.button--text.button--primary:visited {
  color: var(--primary-text);
}

.button--outlined.button--success,
.button--outlined.button--success:visited,
.button--text.button--success,
.button--text.button--success:visited {
  color: var(--success-text);
}

.button--outlined.button--error,
.button--outlined.button--error:visited,
.button--text.button--error,
.button--text.button--error:visited {
  color: var(--error-text);
}

.button--outlined.button--contrast,
.button--outlined.button--contrast:visited,
.button--text.button--contrast,
.button--text.button--contrast:visited {
  color: var(--contrast-100);
}

.button.button--disabled {
  opacity: 0.5;
}

.button.button--disabled:hover {
  opacity: 0.5;
}

.button--none {
  display: inline-block;
  padding: 0;
  background: none;
  color: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
}

.button.button--usericon {
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--primary-contrast);
  height: 36px;
  width: 36px;
  justify-content: center;
  cursor: pointer;
  display: inline-flex;
  margin-left: 28px;
  padding: 0px 0px 0px 0px;
}
.button--usericon:hover:not(:active) {
  opacity: 0.85;
  background-color: var(--secondary);
}

.button--usericon.button--colorwheel {
  background-color: var(--primary);
}

.button--modal-cancel-button {
  color: var(--secondary);
  background-color: inherit;
  padding-left: 0;
  padding-right: 0;
  border-radius: 4px;
}

.button--modal-cancel-button > svg {
  font-size: var(--font-size-icon-bigger);
}
