.button {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  border-radius: 4px;
  border: unset;
  cursor: pointer;
}

.button > svg {
  font-size: 1.2rem;
}
.button > svg:not(:only-child):first-child {
  margin-right: 6px;
}
.button > svg:not(:only-child):last-child {
  margin-left: 6px;
}

.button--contained {
  color: var(--primary-contrast);
}
.button--contained:hover:not(:active) {
  opacity: 0.85;
}

.button--contained.button--primary {
  background-color: var(--primary);
}

.button--contained.button--success {
  background-color: var(--success);
}

.button--contained.button--error {
  background-color: var(--error);
}

.button--contained.button--contrast {
  background-color: var(--contrast-100);
}

.button--outlined {
  background-color: var(--contrast-5);
}

.button--text {
  background-color: inherit;
}

.button--outlined.button--primary,
.button--text.button--primary {
  color: var(--primary-text);
}

.button--outlined.button--success,
.button--text.button--success {
  color: var(--success-text);
}

.button--outlined.button--error,
.button--text.button--error {
  color: var(--error-text);
}

.button--outlined.button--contrast,
.button--text.button--contrast {
  color: var(--contrast-100);
}

.button.button--disabled {
  opacity: 0.5;
}

.button--none {
  background: none;
  color: unset;
  display: block;
  outline: none;
  padding: 0;
  font-size: unset;
  border: 2px solid transparent;
}
.button--none:focus {
  border: 2px solid var(--secondary);
}

.button.button--usericon {
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--primary-contrast);
  height: 36px;
  width: 36px;  
  justify-content: center;
  cursor: pointer;
  display: inline-flex;
  margin-left: 28px;
  padding: 0px 0px 0px 0px;
}
.button--usericon:hover:not(:active) {
  opacity: 0.85;
  background-color: var(--secondary);
}

.button--usericon.button--colorwheel {
  background-color: var(--primary);
}