.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0.2rem 0.6rem;
  background-color: var(--primary-10);
}

.navbar__logo {
  max-height: 50%;
  width: auto;
}

.navbar__links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__all-organizations:any-link {
  text-decoration: none;
  color: var(--secondary-text);
}

.navbar__all-organizations:hover {
  text-decoration: underline;
}

.navbar__divider {
  margin: 0 0.8rem;
}

.navbar__user-icon {
  margin-inline-start: 1rem;
}
