.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--contrast-10);
}

.navbar__navitem:first-child {
  margin-top: 16px;
}

.navbar__navitem {
  position: relative;
  font-size: var(--font-size-small);
  color: var(--contrast-60);
  text-decoration: none;      
  display: flex; 
  align-items: center;
  padding: 6px 20px 6px 20px;
}

.navbar__navitem:hover {
  background-color: var(--primary-10);
}

.navbar__navitem > svg {
  margin-right: 5px
}

.navbar__navitem.navbar__navitem--selected {
  color: var(--primary-text);
}

.navbar__navitem--selected::before {
  position: absolute;
  left: 0;
  height: 100%;
  width: 2px;
  content: "";
  border-radius: 0px 3px 3px 0px;
  background-color: var(--primary-text);
}
