.navbar {
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  border-right: 1px solid var(--contrast-10);
  background-color: var(--primary-10);
}

.navbar__navitem {
  /* position: relative;
  font-size: var(--font-size-small);
  color: var(--contrast-60);
  text-decoration: none;      
   */ 
  padding: 6px 6px 20px; 
  /* display: inline-block; */
  display: flex; 
  flex-direction: row;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

/* .navbar__navitem__orgselectlink {
  color: var(--secondary-text);
}

.navbar__navitem:hover {
  background-color: var(--primary-10);
}

.navbar__navitem > svg {
  margin-right: 5px
}

.navbar__navitem.navbar__navitem--selected {
  color: var(--primary-text);
} */
