.team-page__text {
  padding-bottom: 4rem;
  max-width: 90%;
}

.team-page__header {
  margin-bottom: 2rem;
  color: var(--primary-text);
}

.team-page__intro-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: var(--primary-text);
}

.team-page__content {
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 20%;
}
