.team-page__header {
    margin-left: 4rem;
    margin-bottom: 4rem;
    color: #FFFFFF;
}

.team-page__intro-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #FFFFFF;
  margin-right: 2rem;
  margin-left: 2rem;
}