@import "./design/theme.css";
@import "./design/typography.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
}
