.GrantsShow {
  display: flex;
}

.GrantsShow__Content {
  flex: 1;
}

.GrantsShow__TopBar {
  margin: 18px 0 30px 0;
}

.GrantsShow__Overview {
  margin-bottom: 48px;
}

.GrantsShow__Header {
  display: flex;
}

.GrantsShow__Title {
  flex: 1;
  margin-bottom: 21px;
}

.GrantsShow__Actions {
  flex: 0.25;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.GrantsShow__MakeCopy {
  font-weight: bold;
  color: var(--black);
}

.GrantsShow__Fields dt {
  margin-bottom: 12px;
  font-weight: normal;
}
.GrantsShow__Fields dd {
  margin-bottom: 18px;
  font-weight: bold;
}

.GrantsShow__Deadline {
  display: flex;
  margin-bottom: 13px;
}

.GrantsShow__TotalWordCount {
  text-align: right;
}
.GrantsShow__TotalWordCount > span {
  font-weight: bold;
}

.GrantsShow__SectionList {
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
}

.GrantsShow__AddSection {
  margin: 10px 0 26px 0;
}

.GrantsShow__PasteBoilerplatePopout {
  width: 36%;
  order: 1;
}
