.bio-card__container {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 6rem 0rem 6rem;
  gap: 2rem;
  justify-content: space-around;
  position: relative;
  overflow-y: hidden;
}

.bio-card__bio-content {
  padding: 0 2rem 2rem 2rem;
  background-color: var(--base);
}

.bio-card__info {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.bio-card__info a > svg {
  color: var(--contrast-100);
  font-size: var(--font-size-icon-bigger);
  display: block;
}

.bio-card__bio-name {
  margin-bottom: 1rem;
  color: var(--contrast-100);
}

.bio-card__bio-title {
  color: var(--contrast-100);
  margin: 0;
  font-size: var(--font-size-large-3);
  font-weight: var(--font-weight-normal);
}

.bio-card__text-frame {
  border-radius: 5px;
  min-height: 40rem;
  height: 100%;
  color: var(--contrast-100);
}

.bio-card__text {
  padding-bottom: 2rem;
  min-width: 0;
}

.bio-card__container > svg {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0vh;
  right: -10vh;
}

.bio-card__headshot-frame {
  order: -1;
}

.bio-card__headshot-image {
  max-height: 30rem;
  max-width: 30rem;
  border-radius: 4%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* ... */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* ... */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .bio-card__bio-content {
    width: 40%;
  }

  .bio-card__headshot-frame {
    order: 1;
  }

  .bio-card__container > svg {
    top: -40vh;
    right: 0;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* ... */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* ... */
}
