.bio-card__info {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  vertical-align: middle;
}

.bio-card__bio-frame {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.bio-card__container {
  padding-left: 6rem;
  padding-right: 6rem;
}

.bio-card__bio-name {
  padding-top: 4rem;
  margin-bottom: 1rem;
  color: var(--contrast-100);
}

.bio-card__bio-title {
  color: var(--contrast-100);
  margin: 0;
  font-size: var(--font-size-large-3);
  font-weight: var(--font-weight-normal);
}

.bio-card__bio-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-large-1);
  height: 40rem;
}

.bio-card__text-frame {
  border-radius: 5px;
  width: 60%;
  min-width: 50%;
  margin-right: 6rem;
  min-height: 40rem;
  height: 100%;
  color: var(--contrast-100);
}

.bio-card__text {
  padding-bottom: 2rem;
  min-width: 0;
}

.bio-card__headshot-frame {
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 30%;
  padding: 4rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bio-card__headshot-image {
  padding-top: 1rem;
  max-height: 30rem;
  max-width: 30rem;
  border-radius: 4%;
}

/* .bio-card__icon-links a { */
.bio-card__info a {
  color: var(--contrast-100);
  /* padding-right: 2rem; */
  font-size: x-large;
}
