.dropdown-mini {
  position: relative;
  display: inline-block;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dropdown-mini-open {
  position: relative;
  display: inline-block;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-inline-start: -9rem;
}

.dropdown-mini__label {
  margin-bottom: 7px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  color: var(--contrast-70);
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.dropdown-mini__alt-label {
  color: var(--primary);
  font-weight: var(--font-weight-normal);
  text-decoration-line: underline;
}

.dropdown-mini__input {
  display: flex;
  margin-bottom: 4px;
  padding: 7px 10px;
  border: 0;
  border-radius: 4px;
  background-color: var(--contrast-10);
  cursor: pointer;
  width: 100%;
}

.dropdown-mini__input > span {
  flex: 1;
  text-align: left;
}

.dropdown-mini__placeholder {
  color: var(--contrast-60);
}

.dropdown-mini__menu {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 5px;
  border: 0;
  border-radius: 4px;
  background-color: var(--base);
  box-shadow: 0px 8px 24px -4px rgba(28, 50, 79, 0.38),
    0px 2px 6px -1px rgba(28, 55, 90, 0.16);
}

.dropdown-mini__menu-item {
  display: block;
}

.dropdown-mini__menu-item:hover,
.dropdown-mini__menu-item:focus,
.dropdown-mini__menu-item--selected {
  background-color: var(--primary-10);
}

.dropdown-mini__menu-item > button {
  width: 100%;
  padding: 4px 26px;
  text-align: left;
  outline: none;
}
.dropdown-mini__menu-item > button:focus {
  background-color: var(--primary-10);
}
