.GrantsIndex {
  flex: 1;
  padding: 4rem;
}

.GrantsIndex__Actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GrantsIndex__SearchInput {
  width: 40vw;
  margin-bottom: 0px;
}

.GrantsIndex__AddNew {
  display: block;
  margin-bottom: 1.38rem;
}

.GrantsIndex__TableTabs {
  display: flex;
  gap: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 18px;
  color: var(--primary-text);
}

.GrantsIndex__TableTabButton {
  font-weight: var(--font-weight-normal);
}

.GrantsIndex__TableTabButton:hover,
.GrantsIndex__TableTabButton:focus,
.GrantsIndex__TableTabButton--selected {
  border-radius: 0;
  outline: 0;
  border-bottom: 5px solid var(--primary-shade);
}

.GrantsIndex__Table .table__cell {
  position: relative;
}
.GrantsIndex__Table__Deadline {
  position: absolute;
  left: -2.6rem;
}
.GrantsIndex__See-More .dropdown-mini__listbox {
  position: absolute;
  z-index: 0;
  right: calc(-1rem - 1vw);
  top: 50%;
  transform: translateY(-50%);
}
