.grants-show-overview {
  display: flex;
  width: 100%;
}

.grants-show-overview__content {
  flex: 1;
}

.grants-show-overview__section-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0;
}

.grants-show-overview__sections-container {
  padding-top: 3rem;
}

.grants-show-overview__welcome-alert {
  border-radius: 4px;
  padding: 0.8rem 1.4rem;
  background-color: var(--primary-text-10);
  font-size: var(--font-size-large-1);
}

.grants-show-overview__paste-boilerplate-popout {
  width: 36%;
  order: 1;
}
