.container {
  padding: 1rem;
}

.container--centered {
  margin: 0 auto;
  width: 40%;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .container--centered {
    margin: 0;
    width: 100%;
  }
}
