.reviewer-list {
    padding: 0px 30px;
    border: 1px solid rgba(26, 56, 96, 0.1);
    height: 100%;
    background-color: var(--primary-10);
    margin-top: 1.4rem;
  }
  
  .reviewer-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-weight-bold);
    color: var(--primary);
  }

  svg.reviewer-list__edit-icon {
    font-size: 1.6rem;
    margin-inline-start: 1rem;
    margin-top: 1.2vh;
    color: var(--secondary);
  }

  svg.reviewer-list__edit-icon:hover {
    color: var(--primary);
  }

  .reviewer-list__suggestions-text {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    color: var(--contrast-70);
    display: flex;
  }

  .reviewer-list__reviewers-index {
    list-style: none;
    padding: 0;
    margin-top: 0;
  }

  .reviewer-list__current-reviewers-index {
    list-style: none;
    padding: 0;
    margin-top: 0;
    background-color: yellow;
  }
  
  .reviewer-list__save-button {
    display: flex;
    float: right;
    padding-top: 1rem;
    gap: 1rem;
  }