.reviewer-list-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem 0;
    transition: ease-in-out 0.4s;
    color: inherit;
    text-decoration: none;
  }
  
  .reviewer-list-item > hover,
  .reviewer-list-item > active,
  .reviewer-list-item > focus {
    padding-left: 0.5rem;
    background-color: var(--primary-10);
    border-radius: 6px;
  }
  
  .reviewer-list-checkbox {
    margin-left: auto;
  }