.reset-password {
  display: flex;
  width: 100%;
  max-width: 50%;
  margin: auto;
  padding-top: 8rem;
}

.reset-password__back-button {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding-top: 2rem;
}

.reset-password__header {
  margin: 1rem 0 3rem 0;
}