.reset-password {
  max-width: 50%;
  margin: auto;
  padding-top: 8rem;
}

.reset-password__back-button {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.reset-password__back-button > svg {
  font-size: var(--font-size-icon);
}
