:root {
  --primary: #009285;
  --success: #15c15d;
  --error: #ff4238;
  --contrast-dark: #192434;
  --contrast-grey: rgba(25, 59, 103, 0.05);
  --contrast-light: #ffffff;
}

.Button {
  padding: 8px 14px;
  border-radius: 4px;
  border: unset;
  cursor: pointer;
}

.Button--contained {
  color: var(--contrast-light);
}
.Button--contained.Button--primary {
  background-color: var(--primary);
}
.Button--contained.Button--success {
  background-color: var(--success);
}
.Button--contained.Button--error {
  background-color: var(--error);
}
.Button--contained.Button--contrast {
  background-color: var(--contrast-dark);
}

.Button--outlined {
  background-color: var(--contrast-grey);
}
.Button--text {
  background-color: inherit;
}

.Button--outlined.Button--primary,
.Button--text.Button--primary {
  color: var(--primary);
}

.Button--outlined.Button--success,
.Button--text.Button--success {
  color: var(--success);
}

.Button--outlined.Button--error,
.Button--text.Button--error {
  color: var(--error);
}

.Button--outlined.Button--contrast,
.Button--text.Button--contrast {
  color: var(--contrast-dark);
}
