.ql-container {
  font-family: inherit;
}

.ql-editor {
  padding: 20px 12px;
  min-height: 8rem;
}

.ql-editor a {
  color: var(--primary) !important;
}
/* .ql-editor a:visited {
  color: var(--primary-contrast-alt) !important;
} */
