.accordion-item__header {
  margin: 0;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--contrast-70);
}

.accordion-item__header-button {
  width: 100%;
  text-align: initial;
  display: flex;
  padding: 8px 0;
}

.accordion-item__header-button .dropdown-mini {
  text-align: end;
  background-color: red;
  width: 18px;
}

svg.accordion-item__icon {
  font-size: var(--font-size-large-1);
}
