.boilerplates-new {
  display: flex;
  width: 100%;
}

.boilerplates-new__header {
  margin: 1rem 0 3rem 0;
}

.boilerplates-new__back-button {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding-top: 2rem;
}
