body {
  margin: 0;
  padding-bottom: 50%;
}

.navbar {
  background-color: #00B556;
  color: red;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 1.5rem;
} 

.navbar.item {
  color: red;
}

.card {
  font-size: 2rem;
  font-weight: bold;
  /* background-color: #00B556; */
  /* background-color: #037d50; */
  /* background-color: #063223; */
  color: #bdf7e4;
  width: 80rem;
  text-align: left;
}

.card .form-control {
  background-color: #00B556;
  color: #bdf7e4;
  font-size: 1.5rem;
}

.card-body {
  font-size: 1.5rem;
  /* background-color: #1bd036; */
  /* background-color: #037d50; */
  /* background-color: #063223; */
  /* background-color: #037d50; */
  background-color: white;
  color: black;
}

.span {
  color: black;
}

.card p {
  color: black;
}

.btn.basic {
  background-color: #0c5f42;
  color: #bdf7e4;
  font-size: 3rem;
  font-weight: bold;
  margin: 2%;
}

.btn.basic:hover {
  color: #0c5f42;
  background-color: #bdf7e4;
}

a.basic {
  font-weight: bold;
  color: #063223;
  color: #bdf7e4;
}

a.basic:hover {
  color: #bdf7e4;
}

.whatever:hover {
  background-color: orange;
}

.highlighted {
  background-color: yellow;
}



/* div .app{

} */

.App {
  /* background-color: #9def91; */
  /* background-color: #063223; */
  background-color: #037d50;
  margin: 0;
  padding-bottom: 50%;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Things we can do with React Bootstrap:
Body color 
card body color 
text color 
button color 
font type
font size
font weight */

/* Things we cannot do without customization:
link color 
navbar??? pretty much anything
card header
borders */

