.App {
  background-color: #f5f7f9;
}

body {
  /* margin: 0;
  padding-bottom: 0; */
}

.jumbotron-head {
  color: "#fefefe";
  font-size: 5rem;
}
.jumbotron-subhead {
  color: "#fefefe";
  font-size: 3rem;
}

.navbar {
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 1rem;
}

.navbar.item {
}

.card {
  font-size: 0.5rem;
  font-weight: bold;
  color: "#fefefe";
  text-align: left;
  color: "#09191b";
}

.card .form-control {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-body {
  font-size: 1rem;
}

.card-component {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  background-color: white;
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-component:hover {
  cursor: pointer;
}

.card-component .card-header {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: lightgray;
}

.card-component:hover .card-header {
  background-color: #1c4e54;
}

.card-component .card-body {
  background-color: #fefefe;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  color: black;
}

.card-component:hover .card-body {
  background-color: #d9f2e8;
}

/* background-color: #23cb87; */

.card-component-links {
  color: #23cb87;
  font-weight: bolder;
  font-size: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align: center;
}

.btn.basic {
  background-color: #0c5f42;
  color: #bdf7e4;
  font-size: 1rem;
  font-weight: bold;
  margin: 2%;
}

.btn.basic:hover {
  color: #0c5f42;
  background-color: #bdf7e4;
}

a.basic {
  font-weight: bold;
  color: #063223;
  color: #bdf7e4;
}

a.basic:hover {
  color: #bdf7e4;
}

.whatever:hover {
  background-color: #d9f2e8;
}

.highlighted {
  background-color: yellow;
}

.modal-popup {
  display: block;
  position: absolute;
  width: 50%;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 0px;
  position: fixed;
  left: 25%;
  box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.5);
  z-index: 999;
}
