/* body {
  margin: 0;
  padding-bottom: 50%;
} */

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
} */

/* Nav.Link {
  color: #000;
  
  text-decoration: none;
}

Nav.Link.active {
  background-color: #4CAF50;
  color: white;
}  */

/* .navbar.item.active {
  color: red;
  /* color: #063223; */
  /* padding: 8px 16px;
}  */

/* .navbar.link.active {
  color: red;
  /* color: #063223; */
  /* padding: 8px 16px;
}  */ 

.navbar {
  background-color: #00B556;
  color: red;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 1.5rem;
} 

.navbar.item {
  color: red;
}

/* .nav.active {
  border-bottom: 5px solid cyan;
} */

.card.basic {
  font-size: 2rem;
  font-weight: bold;
  background-color: #00B556;
  color: #063223;
}

/* 
.card-header {
  font-size: 2rem;
  font-weight: bold;
  background-color: #00B556;
  color: #063223;
} */

.card-body {
  font-size: 1.5rem;
  background-color: #1bd036;
}

.btn.basic {
  background-color: #0c5f42;
  color: #bdf7e4;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2%;
}

.btn.basic:hover {
  color: #0c5f42;
  background-color: #bdf7e4;
}

a.basic {
  font-weight: bold;
  color: #063223;
}

a.basic:hover {
  color: #bdf7e4;
}

/* .component {
  margin-left:25%;
  padding:1px 16px;
}  */

/* .headertext{
  margin-block-start: 0em;
}  */

.whatever:hover {
  background-color: orange;
}

.highlighted {
  background-color: yellow;
}



/* div .app{

} */

.App {
  background-color: #9def91;
  margin: 0;
  padding-bottom: 50%;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
