.accordion-table {
  list-style: none;
  margin: 0;
  padding: 20px 12px;
  border-top: 1px solid rgba(26, 56, 96, 0.1);
}

.accordion-table > li:first-child {
  margin-bottom: 12px;
  
}

.accordion-table__row-header {
  display: grid;
  grid-template-columns: var(--font-size-icon) repeat(
      auto-fit,
      minmax(1rem, 1fr)
    );
  gap: 20px;
}

.accordion-table__cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-table__cell--number {
  text-align: right;
}

.accordion-table__cell--message {
  display: flex;
  align-items: left;
  justify-content: flex-start;
}

.accordion-table__row-header--first .accordion-table__cell {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--contrast-70);
  padding-left: 38px;
}

.accordion-table__row-panel {
  padding: 4px 0;
}


